//Variables
@import "./variables.scss";

* {
    margin: 0px;
    padding: 0px;
}

body {
    @extend *;
    background-color: $colorSeccion;

}

p {
    font-family: $fuentePrincipal;

}

/*===Estilos Generales===*/
.nav {
    width: max-content;
    background-color: $colorSeccion;
    ul {
        list-style: none;
        li {
            a {
                background-color: $colorSeccion;
                margin: 5px;
                font-family: $fuentePrincipal;
                font-weight: bold;
                font-size: 20px;
                text-decoration: none;
                color: $colorContrasteAlto ;
            }
        }
    }
}

.inicio {
    @include fondos($bannerPrincipl);
}

.servicios-especificos {
    @include fondos($fondoDeServicios);
    margin-top: 50px;
    article {
        width: 550px;
        height: fit-content;
        border:$colorContrasteAlto solid 1px;
        background-color: white;
        margin: 5px;
        border-radius: 10px;
        img {
            width: 100%;
            padding-bottom: 20px;
        }
    }
}

.titulo-principal {
    @include titulo-fuente-color($fuenteTitulos, $colorContrasteMedio);
    font-size: 3rem;
    margin-top: 50px;
}

.titulo-secundario {
    @include titulo-fuente-color($fuentePrincipal, $colorTitulosTerciarios);
    display: inline;
    padding: 5px;
    border-radius: 5px;
    background-color: $colorSeccion;
}

.titulo-seccion {
    @include titulo-fuente-color($fuenteTitulos, $colorContrasteMedio);
    font-size: 3rem;
    padding: 20px;
}

.titulo-articulo {
    @include titulo-fuente-color($fuenteTitulos, $colorTitulosTerciarios);
}

.inicio {
    .contenido-seccion {
        padding-top: 5%;
    }
}



/*Sección sobre nosotros*/
    .sobre-nosotros {
        background-color: $colorSeccion;
        padding: 10px;
        article {
            text-align: center;
        }
        h3 {
            font-family: $fuenteTitulos;
            color: $colorContrasteBajo;
        }
    }

/*Sección Servicios*/
    .servicios {
        @include fondos($fondoDeServicios);
        margin-bottom: 20px; 
        article {
            width: 550px;
            height: 550px;
            margin: 5px;
            border:$colorContrasteAlto solid 1px;
            background-color: white;
            border-radius: 10px;
            img {
                width: 100%;
                border-radius: 10px;
            }
        }
    }
/*Seacción contacto*/

    .contacto {
        background-color: $colorSeccion;
    }

/*===Página electricidad===*/

.intro-electricidad {
    article {
        .certidicado {
            max-width: 700px;
            max-height: 700px;
        }
    }
}

.detalle-electricidad {
    margin: 20px;
  }

/*===Modificaciones de bootstrap===*/

.navbar {
    position:fixed;
    width: 100%;
    background-color: $colorTitulosTerciarios;
    z-index: 2;
}

.nav-link {
    font-size: 1.2em;
    font-weight: bold;
    color:$colorContrasteBajo;
    &:hover {
        color: $colorContrasteAlto;
    }
}

.carousel-container {
    width: fit-content;
    border: 1px black solid;
    border-radius: 20px;
    box-shadow: $sombras
  }

.carousel {
    padding: 10px;
    width: 900px;
    height: 100%;
}

.carousel-inner {
    border-radius: 20px;
    box-shadow: $sombras
}

.carousel-item {
    height: 400px;
}

/*===Responsive===*/

@media (max-width: 576px) {
    .titulo-principal {
        margin-top: 100px;
      }
    
      .logo-xl {
        width: 320px;
      }

      .servicios {
        article {
            height: 500px;
            margin: 30px;
        }
      }
      .carousel-item {
        height: 210px;
      }
    
      .detalle-electricidad {
        display: none;
      }
    
      .certificado {
        width: 100%;
      }
      .servicios-especificos {
        article {
            margin: 30px;
        }
      }
}