.logo-xl {
  width: 350px;
}

.logo-sm {
  width: 40px;
}

*, body {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #E0E0E0;
}

p {
  font-family: "Nunito Sans", sans-serif;
}

.nav {
  width: max-content;
  background-color: #E0E0E0;
}
.nav ul {
  list-style: none;
}
.nav ul li a {
  background-color: #E0E0E0;
  margin: 5px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: #388E3C;
}

.inicio {
  background-image: url("./../assets/inicio/Banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

.inicio-page {
  background-image: url("./../assets/inicio/Banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 90vh;
}

.servicios-especificos {
  background-image: url("./../assets/inicio/fondo-planta-madera-herramientas-jardineria-hobby.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 50px;
}
.servicios-especificos article {
  width: 550px;
  height: fit-content;
  border: #388E3C solid 1px;
  background-color: white;
  margin: 5px;
  border-radius: 10px;
}
.servicios-especificos article img {
  width: 100%;
  padding-bottom: 20px;
}

.titulo-principal {
  font-family: "Lobster", cursive;
  color: #4CAF50;
  font-size: 3rem;
  margin-top: 12vh;
}

.titulo-secundario {
  font-family: "Nunito Sans", sans-serif;
  color: #795548;
  display: inline;
  padding: 5px;
  border-radius: 5px;
  background-color: #E0E0E0;
}

.titulo-seccion {
  font-family: "Lobster", cursive;
  color: #4CAF50;
  font-size: 3rem;
  padding: 20px;
}

.titulo-articulo {
  font-family: "Lobster", cursive;
  color: #795548;
}

.inicio .contenido-seccion {
  padding-top: 5%;
}

.sobre-nosotros {
  background-color: #E0E0E0;
  padding: 10px;
}
.sobre-nosotros article {
  text-align: center;
}
.sobre-nosotros h3 {
  font-family: "Lobster", cursive;
  color: #81C784;
}

.servicios {
  background-image: url("./../assets/inicio/fondo-planta-madera-herramientas-jardineria-hobby.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 20px;
}
.servicios article {
  width: 550px;
  height: 600px;
  padding: 20px;
  margin: 5px;
  border: #388E3C solid 1px;
  background-color: white;
  border-radius: 10px;
}
.servicios article img {
  width: 100%;
  border-radius: 10px;
}

.contacto {
  background-color: #E0E0E0;
}

.intro-electricidad article .certidicado {
  max-width: 700px;
  max-height: 700px;
}

.detalle-electricidad {
  margin: 20px;
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: #795548;
  z-index: 2;
}

.nav-link {
  font-size: 1.2em;
  font-weight: bold;
  color: #81C784;
}
.nav-link:hover {
  color: #388E3C;
}

.carousel-container {
  width: fit-content;
  border: 1px black solid;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.carousel {
  padding: 10px;
  width: 900px;
  height: 100%;
}

.carousel-inner {
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.carousel-item {
  height: 400px;
}

@media (max-width: 576px) {
  .titulo-principal {
    margin-top: 100px;
  }
  .logo-xl {
    width: 320px;
  }
  .servicios article {
    height: 550px;
    margin: 30px;
  }
  .carousel-item {
    height: 210px;
  }
  .detalle-electricidad {
    display: none;
  }
  .certificado {
    width: 100%;
  }
  .servicios-especificos article {
    margin: 30px;
  }
}

/*# sourceMappingURL=main.css.map */
